{% extends "base.html" %}
{% block title %} Pull ups for Patriots | Company D {% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <h2>Welcome to Company D</h2>
        <h3>Marines that have raised the most money:</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-3 col-md-6 text-center">
        <form method="GET" action="{% url 'search' %}">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Search">
        </form>
    </div>
</div>
{% if marines|length == 0 %}
<div class="row">
    <div class="col-md-offset-4 col-md-4 text-center">
        No results. Search only allows searching by name.
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <ul class="list-group">
            {% for marine in marines %}
            <li class="list-group-item row">
                <span class="badge col-md-3">${{ marine.amount_raised }}|${{ marine.get_amount_per_pullup }} per pull up</span>
                <div class="col-md-5">{{ marine.name }}</div>
                <div class="col-md-4">
                    <div class="btn-group btn-group-xs" role="group" aria-label="...">
                        <a href="{% url 'donate' marine.id %}" class="btn btn-primary">Donate</a>
                        <a href="{% url 'pledge' marine.id %}" class="btn btn-primary">Pledge</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}